{% extends 'portfolio/base.html' %}

{% block content %}

{% load static %}
    <div class="container">
           <div class="text-center pt-5">
                <h1>Wayster's portfolio</h1>
           <img src="{% static 'portfolio/teo.jpg' %}" alt="">
           </div>
       <div class="row pt-5 mt-5">
             {% for project in projects  %}
            <div class="col-md-4">
            <h2>{{ project.title }}</h2>
            <p>{{ project.description }}</p>
            <img src="{{ project.image.url }}" alt="Image" class="w-75">
        </div>
             {% endfor %}
       </div>
    </div>

{% endblock %}